{% extends 'base.html.twig' %}
   {% block content %}
       <br>
       <br>
       <div  style="width: 400px ; position: relative ; right: -30%"  >
{% block body %}
    <h1>Reservation creation</h1>

    {{ form_start(form) }}
    <div><label>Partenaire</label><select class="form-control" name="partenaire">
                    {% for i in table %}
                        <option value="{{ i.id }}"> {{ i.nom }}</option>

                    {% endfor %}
                </select></div>
    <div hidden="hidden">{{ form_widget(form.prix)}}</div>
    <div hidden="hidden">{{ form_widget(form.client)}}</div>
    <div hidden="hidden">{{ form_widget(form.partenaire)}}</div>
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" value="Confirmer" />
    {{ form_end(form) }}


{% endblock %}
       </div>
       <br>
       <br>
   {% endblock %}