{% trans_default_domain 'FOSUserBundle' %}
<div align="center"  >
    <br>
    <br>
    <img style="width: 300px" src="{{ asset('templates/backoffice/images/icon/logo3.png')}}">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-info" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
