{% extends 'base.html.twig' %}
    {# Image du body #}

{% block slide %}
    <section id="page-title-area" class="section-padding overlay">
            <div class="container">
                <div class="row">
                    <!-- Page Title Start -->
                    <div class="col-lg-12">
                        <div class="section-title  text-center">
                            <h2>Detail du taxi</h2>
                            <span class="title-line"><i class="fa fa-car"></i></span>
                            <p>Taxi Numero : {{ part.taxi.matricul }} </p>
                        </div>
                    </div>
                    <!-- Page Title End -->
                </div>
            </div>
        </section>
{% endblock %}

    {# Detail dU Taxi #}
{% block content %}
    <section id="car-list-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Car List Content Start -->
                <div class="col-lg-8">
                    <div class="car-details-content">
                        <h2>Aston Martin One-77 <span class="price">Rent: <b>$150</b></span></h2>
                        <div class="car-preview-crousel">
                            <div class="single-car-preview">
                                <img src="{{ asset('templates/frontoffice/assets/img/car/car-5.jpg') }}" alt="JSOFT">
                            </div>
                        </div>
                        <div class="car-details-info">
                            <h4>DESCRIPTON</h4>
                            <p>The Aventador LPER 720-4 50° </p>

                            <div class="technical-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="tech-info-table">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Marque : </th>
                                                    <td>{{ part.taxi.marque }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Etat : </th>
                                                    <td>{{ part.taxi.etat }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Matricule : </th>
                                                    <td>{{ part.taxi.matricul }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="review-area">
                                <h3>Que pensez-vous de  “{{ part.nom }}” ?</h3>
                                <div class="review-star">
                                    <p class="rating" id="allstar">
                                        {% if rate ==null %}
                                            <i class="fa fa-star unmark" id="star1"></i>
                                            <i class="fa fa-star unmark" id="star2"></i>
                                            <i class="fa fa-star unmark" id="star3"></i>
                                            <i class="fa fa-star unmark" id="star4"></i>
                                            <i class="fa fa-star unmark" id="star5"></i>
                                        {% else %}
                                            {% for i in 1..rate[0].rate %}
                                                <i class="fa fa-star" id="star{{i}}"></i>
                                            {% endfor %}
                                            {% if rate[0].rate < 5 %}
                                                {% for j in rate[0].rate+1..5 %}
                                                    <i class="fa fa-star unmark" id="star{{j}}"></i>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="review-form">
                                    <form action="index.html">
                                        <div class="message-input">
                                            <textarea name="review" cols="5" rows="5" placeholder="Write Your Feedback Here!"></textarea>
                                        </div>

                                        <div class="input-submit">
                                            <button type="submit" id="envoie">Envoyer </button>
                                            <button type="reset">Annuler</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Car List Content End -->

                <!-- Sidebar Area Start -->
                <div class="col-lg-4">
                    <div class="sidebar-content-wrap m-t-50">
                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>For More Informations</h3>

                            <div class="sidebar-body">
                                <p><i class="fa fa-mobile"></i> +216 -- -- -- --</p>
                                <p><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Area End -->
            </div>
        </div>
    </section>
{% endblock %}

{% block jquery %}
    {{ parent() }}
    <script>
        $("#star1").click(function () {
            var i=0;
            $.ajax({
                type:'get',
                url:"{{ path('feed_back_evaluer',{'id':part.id } )}}",
                data:{
                    rate: 1
                },
                async: true,
                success:
                    function (response) {
                        $('#allstar').html('');
                        for(i=1;i<6;i++){
                            if(i<=response['rate']){
                                var e=$(' <i class="fa fa-star" id="star'+i+'"> </i> ');
                            }
                            else{
                                var e=$(' <i class="fa fa-star unmark" id="star'+i+'"> </i> ');
                            }
                            $('#allstar').append(e);
                        }
                    },
                error:
                    function (response) {
                        alert('Une Erreur Technique ');
                    }
            })
        });
        $("#star2").click(function () {
            var i=0;
            $.ajax({
                type:'get',
                url:"{{ path('feed_back_evaluer',{'id':part.id } )}}",
                data:{
                    rate: 2
                },
                async: true,
                success:
                    function (response) {
                        $('#allstar').html('');
                        for(i=1;i<6;i++){
                            if(i<=response['rate']){
                                var e=$(' <i class="fa fa-star" id="star'+i+'"> </i> ');
                            }
                            else{
                                var e=$(' <i class="fa fa-star unmark" id="star'+i+'"> </i> ');
                            }
                            $('#allstar').append(e);
                        }
                    },
                error:
                    function (response) {
                        alert('Une Erreur Technique ');
                    }
            })
        });
        $("#star3").click(function () {
            var i=0;
            $.ajax({
                type:'get',
                url:"{{ path('feed_back_evaluer',{'id':part.id } )}}",
                data:{
                    rate: 3
                },
                async: true,
                success:
                    function (response) {
                        $('#allstar').html('');
                        for(i=1;i<6;i++){
                            if(i<=response['rate']){
                                var e=$(' <i class="fa fa-star" id="star'+i+'"> </i> ');
                            }
                            else{
                                var e=$(' <i class="fa fa-star unmark" id="star'+i+'"> </i> ');
                            }
                            $('#allstar').append(e);
                        }
                    },
                error:
                    function (response) {
                        alert('Une Erreur Technique ');
                    }
            })
        });
        $("#star4").click(function () {
            var i=0;
            $.ajax({
                type:'get',
                url:"{{ path('feed_back_evaluer',{'id':part.id } )}}",
                data:{
                    rate: 4
                },
                async: true,
                success:
                    function (response) {
                        $('#allstar').html('');
                        for(i=1;i<6;i++){
                            if(i<=response['rate']){
                                var e=$(' <i class="fa fa-star" id="star'+i+'"> </i> ');
                            }
                            else{
                                var e=$(' <i class="fa fa-star unmark" id="star'+i+'"> </i> ');
                            }
                            $('#allstar').append(e);
                        }
                    },
                error:
                    function (response) {
                        alert('Une Erreur Technique ');
                    }
            })
        });
        $("#star5").click(function () {
            var i=0;
            $.ajax({
                type:'get',
                url:"{{ path('feed_back_evaluer',{'id':part.id } )}}",
                data:{
                    rate: 5
                },
                async: true,
                success:
                    function (response) {
                        $('#allstar').html('');
                        for(i=1;i<6;i++){
                            if(i<=response['rate']){
                                var e=$(' <i class="fa fa-star" id="star'+i+'"> </i> ');
                            }
                            else{
                                var e=$(' <i class="fa fa-star unmark" id="star'+i+'"> </i> ');
                            }
                            $('#allstar').append(e);
                        }
                    },
                error:
                    function (response) {
                        alert('Une Erreur Technique ');
                    }
            })
        });
    </script>
{% endblock %}

