{% extends 'base.html.twig' %}
    {# Image du body #}

    {% block slide %}
        <section id="page-title-area" class="section-padding overlay">
            <div class="container">
                <div class="row">
                    <!-- Page Title Start -->
                    <div class="col-lg-12">
                        <div class="section-title  text-center">
                            <h2>Nos Taxis ! </h2>
                            <span class="title-line"><i class="fa fa-car"></i></span>
                            <p>Nous Vous proposons une multitude de Taxis </p>
                        </div>
                    </div>
                    <!-- Page Title End -->
                </div>
            </div>
        </section>
    {% endblock %}

    {# Liste des Taxis #}

    {% block content %}
        <section id="car-list-area" class="section-padding">
            <div class="container">
                <div class="row">
                    <!-- Car List Content Start -->
                    <div class="col-lg-8">
                        <div class="car-list-content">
                            {% for p in taxis  %}
                                <div class="single-car-wrap">
                                    <div class="row">
                                        <!-- Single Car Thumbnail -->
                                        <div class="col-lg-5">
                                            <div class="car-list-thumb car-thumb-1"></div>
                                        </div>
                                        <!-- Single Car Thumbnail -->

                                        <!-- Single Car Info -->
                                        <div class="col-lg-7">
                                            <div class="display-table">
                                                <div class="display-table-cell">
                                                    <div class="car-list-info">
                                                        <h2><a href="#">{{p.nom}} : {{ p.taxi.marque }}</a></h2>
                                                        <h5>5DT + Compteur </h5>
                                                        <p>{{ p.taxi.etat }}</p>
                                                        <ul class="car-info-list">
                                                            <li>{{p.taxi.image}}</li>
                                                            <li>{{p.nb}}</li>
                                                            <li>Note Generale :
                                                            </li>
                                                        </ul>
                                                        <a href="{{ path('taxi_detailTaxi',{'id':p.id} )}}" class="rent-btn">Voir plus</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Car info -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}