{% extends 'back.html.twig' %}
   {% block content %}
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
       <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
       <!------ Include the above in your HEAD tag ---------->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
       <script language="JavaScript" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
       <script language="JavaScript" src="https://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
       <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

       <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

       <br>
       <br>
       {% block body %}
           <h1 style=" position: relative; right: -30px">  liste des Inventaires des Reservation </h1>
           <br>
           {% if liste is empty %}
               <div class="alert alert-warning" role="alert">
                  Vous n'avez pas d'inventaire en cours ..
                   veuillez consultez l'archive des inventaire via ce lien
                   <a href="{{ path('inventaire_readArchivereservation')}}"><button>Voir archive des inventaires</button></a>

                   <br>
                   <br>
                   ou consulter toutes les reservations via ce lien
                   <a href="{{ path('reservation_index')}}"><button>Voir toutes des Reservations</button></a>

               </div>
           {% else %}
           <input style="width: 400px" class="form-control" id="myInput" type="text" placeholder="Search..">
           <br>
               <div class="count">
                   <h4> Nombre total des commission : {{ liste.getTotalItemCount }}  </h4>
               </div>
           <table class="table table-bordered table-striped">
               <tr>
                   {# sorting of properties based on query components #}
                   <th>{{ knp_pagination_sortable(liste, 'Nom', 'liste.partenaire.nom') }}</th>
                   <th{% if liste.isSorted('liste.partenaire.prenom ') %} class="sorted"{% endif %}>
                       {{ knp_pagination_sortable(liste, 'Prenom', 'liste.partenaire.prenom ') }}
                   </th>
                   <th{% if liste.isSorted('liste.montant') %} class="sorted"{% endif %}>
                       {{ knp_pagination_sortable(liste, 'Montant', 'liste.montant') }}
                   </th>

                   <th class="th-sm">Details</th>
                   <th class="th-sm">Action</th>
               </tr>

               <tbody id="myTable">


               {% for i in liste %}
                   <tr>


                       <td>{{ i.partenaire.nom }}</td>
                       <td>{{ i.partenaire.prenom }}</td>
                       <td>{{ i.montant }}</td>


                           <div style=" display: flex;
  align-content: space-between;">

                       <td>
                         <a class="text-sm-left " href="{{ path('commissionR_read',{'id':i.id}) }}"> <button data-placement="top" data-toggle="tooltip" title="details">  <i class="material-icons" style="color: green">assignment</i>   </button></a>
                               <td><a href="{{ path('inventaire_done',{'id':i.id}) }}"> <button data-placement="top" data-toggle="tooltip" title="marquer non payé">  <i class="material-icons">money</i> Payé  </button></a></td>
                               {#<a class="text-sm-center " href="{{ path('course_update', { 'id': i.id }) }}"><p data-placement="top" data-toggle="tooltip" title="modifier"><button class="btn btn-success btn-s" data-title="edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-edit"></span></button></p></a>#}
                               {#<a class="text-sm-right" href="{{ path('course_delete', { 'id': i.id }) }}"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-s" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></a>#}

                           </div>
                       </td>

                   </tr>
               {% endfor %}

               </tbody>
           </table>

           <a href="{{ path('reservation_index')}}"><button>Voir toutes des Reservations</button></a>
          <br>
           <a href="{{ path('inventaire_readArchivereservation')}}"><button>Voir archive des inventaires</button></a>
               <div class="navigation">
                   {{ knp_pagination_render(liste) }}
               </div>
           {% endif %}


           <div id="div_chart"></div>

           <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
           <script type="text/javascript">
               {{ gc_draw(piechart, 'div_chart') }}
           </script>
       {% endblock %}

       <script>
           $(document).ready(function(){
               $("#myInput").on("keyup", function() {
                   var value = $(this).val().toLowerCase();
                   $("#myTable tr").filter(function() {
                       $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                   });
               });
           });
       </script>

   {% endblock %}