<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="{{ asset('templates/frontoffice/logo3_opt.png') }}" type="image/x-icon" />

    <title>Twasalni.tn</title>

    <!--=== Bootstrap CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--=== Vegas Min CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/plugins/vegas.min.css') }}" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/plugins/slicknav.min.css') }}" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/plugins/magnific-popup.css') }}" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/plugins/owl.carousel.min.css') }}" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/plugins/gijgo.css') }}" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/font-awesome.css') }}" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/reset.css') }}" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="{{ asset('templates/frontoffice/style.css') }}" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="{{ asset('templates/frontoffice/assets/css/responsive.css') }}" rel="stylesheet">



    <script src="{{ asset('//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') }}"></script>
    <script src="{{ asset('//oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>

</head>

<!--== Header Area Start ==-->
<header id="header-area" class="fixed-top">
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i> Esprit Ghazela
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +216 22 842 875
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Mon-Sun 24h/7
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Social Icons Start ==-->
                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <!--== Social Icons End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->

    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a href="index2.html" class="logo">
                        <img src="{{ asset('templates/frontoffice/assets/img/logo3.png') }}" alt="JSOFT" width="200" height="70">
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li><a href="index2.html">Acceuil</a></li>
                            <li><a href="car-right-sidebar.html">Taxi</a></li>
                            <li><a href="driver.html">Taxiste</a></li>
                            <li> <a href="#"> A propos</a>
                                <ul>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="package.html">Pricing</a></li>
                                    <li><a href="faq.html">Mannuel </a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Profile</a>
                                <ul>
                                    <li><a href="login.html">Admins</a></li>
                                    <li><a href="register.html">Partenaires</a></li>
                                    <li><a href="register.html">Clients</a></li>
                                </ul>
                            </li>
                            <li></li>
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->

<section id="slideslow-bg">

</section>



{% block content %}
{% endblock %}


<section id="footer-area">
    <!-- Footer Widget Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Twasalni <img src="{{ asset('templates/frontoffice/assets/img/logo3.png') }}" alt="JSOFT" width="190" height="50"></h2>
                        <div class="widget-body">
                            <p>Twasalni est le resultat du travail de l'équipe RTE dans le but de resoudre e faciliter les transport en Tunisie</p>

                            <div class="newsletter-area">
                                <form action="index.html">
                                    <input type="email" placeholder="Envoyer nous un mot">
                                    <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->

                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Publications Recentes</h2>
                        <div class="widget-body">
                            <ul class="recent-post">
                                <li>
                                    <a href="#">
                                        Hello Tunis!
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Prix imbattables !
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->

                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Localisation</h2>
                        <div class="widget-body">
                            <p>Nous sommes situer a Esprit a la petite Ariana</p>

                            <ul class="get-touch">
                                <li><i class="fa fa-map-marker"></i>Zone Industrielle Chotrana II, B.P. 160 Pôle Technologique El Ghazela 2083 Ariana Tunis، 2083</li>
                                <li><i class="fa fa-mobile"></i> +216 -- -- -- --</li>
                                <li><i class="fa fa-envelope"></i> twasalni@gmail.com</li>
                            </ul>
                            <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Visualiser</a>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->
</section>
<div class="scroll-top">
    <img src="{{ asset('templates/frontoffice/assets/img/scroll-top.png') }}" alt="JSOFT">
</div>
<!--== Scroll Top Area End ==-->

<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/jquery-3.2.1.min.js') }}"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/jquery-migrate.min.js') }}"></script>
<!--=== Popper Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/popper.min.js') }}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/bootstrap.min.js') }}"></script>
<!--=== Gijgo Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/gijgo.js') }}"></script>
<!--=== Vegas Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/vegas.min.js') }}"></script>
<!--=== Isotope Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/isotope.min.js') }}"></script>
<!--=== Owl Caousel Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/owl.carousel.min.js') }}"></script>
<!--=== Waypoint Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/waypoints.min.js') }}"></script>
<!--=== CounTotop Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/counterup.min.js') }}"></script>
<!--=== YtPlayer Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/mb.YTPlayer.js') }}"></script>
<!--=== Magnific Popup Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/magnific-popup.min.js') }}"></script>
<!--=== Slicknav Min Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/plugins/slicknav.min.js') }}"></script>

<!--=== Mian Js ===-->
<script src="{{ asset('templates/frontoffice/assets/js/main.js') }}"></script>
<script>
    $("#slideslow-bg").vegas({
        overlay: true,
        transition: 'fade',
        transitionDuration: 2000,
        delay: 4000,
        color: '#000',
        animation: 'random',
        animationDuration: 20000,
        slides: [
            {
                src: "{{ asset('templates/frontoffice/assets/img/slider-img/slider-img-1.jpg')}}"
            },
            {
                src: "{{ asset('templates/frontoffice/assets/img/slider-img/slider-img-2.jpg')}}"
            },
            {
                src: "{{ asset('templates/frontoffice/assets/img/slider-img/slider-img-3.jpg')}}"
            },
            {
                src: "{{ asset('templates/frontoffice/assets/img/slider-img/slider-img-4.jpg')}}"
            },
            {
                src: "{{ asset('templates/frontoffice/assets/img/slider-img/slider-img-5.jpg')}}"
            },

        ]
    });

    //Home Page Two Slideshow
</script>

</body>

</html>
